<footer>
    <div class="container d-flex flex-row">
        <span class="text-muted mr-auto">Siga-nos nas redes sociais</span>

        <div class="icons ml-auto">
            <a href="https://github.com/Pedro-Stradiotti-Neto">
                <fa-icon [icon]='faGithub' class="faGithub fa-2x iconG"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/pedro-stradiotti-neto/">
                <fa-icon [icon]='faLinkedin' class="faLinkedin fa-2x iconL"></fa-icon>
            </a>
        </div>
    </div>
</footer>