<main>
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-md-12">
                <h1 class="text-center">Sejam bem vindes ao Clube do Xadrez</h1>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-12">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, nisi assumenda soluta
                    voluptatum sint nihil tempore veritatis aperiam omnis quod accusantium repudiandae qui amet
                    blanditiis! Repudiandae minima cupiditate nemo accusantium?</p>
            </div>
        </div>
    </div>

    <div class="parallax"></div>

    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-md-12">
                <div id="carrouselSite" class="carousel slide" data-ride="carousel">

                </div>
            </div>
        </div>
    </div>

</main>